* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Nav Bar */

header {
  z-index: 1;
  width: 100%;
  height: 85px;
  position: sticky;
  top: 0;
  background: #ffffff;
  box-shadow: 0 1px 0 rgb(0 0 0 / 5%);
}
.logo {
  width: 115px;
  height: 85px;
  margin-left: 13%;
  float: left;
}
.logo > img {
  width: 125px;
  height: 89px;
}

.navLink {
  width: 42%;
  height: 85px;
  float: right;
  margin-right: 10%;
  display: flex;
}
.navLink > a {
  width: auto;
  line-height: 85px;
  text-decoration: none;
  height: 100%;
  display: flex;
  font-size: 17px;
  font-weight: normal;
  outline: 0;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
}

#locationIcon {
  background-color: #bd2925;
  font-size: 18px;
  color: white;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
}
.navbar-links:hover {
  background: #ee1c2e;
  color: white;
}
.navbar-links > a:hover {
  color: white;
}
#active {
  background: #ee1c2e;
  color: white;
}
.location-link {
  color: #ee1c2e;
}
.location-link > span {
  color: white;
}

.aboutus-container,
.ourbrands-container,
.investor-container,
.career-container {
  position: absolute;
  top: 85px;
  left: 0;
  width: 100%;
  height: 42vh;
  background: #ee1c2e;
  opacity: 0.8;
  padding: 30px 220px;
  display: none;
}
#inv-con {
  height: 35vh;
}
.active:hover {
  display: inline-block;
}
.nav-li {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-li:nth-child(1) > a {
  text-decoration: none;
  color: white;
  padding: 15px;
}
.nav-li > a {
  text-decoration: none;
  color: #333;
  padding: 25px;
}
.nav-inner-1 a:hover {
  color: white;
}
.navbar-links > li:hover {
  display: block;
}
.ourbrands-container:hover {
  display: block;
}
.investor-container:hover {
  display: block;
}
.career-container:hover {
  display: block;
}
.inner-link {
  width: auto;
  height: auto;
  padding: 10px;
  font-size: 16px;
  color: white;
  display: flex;
  text-decoration: none;
  flex-direction: column;
  margin: 10px;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
}

.inner-link:hover {
  background-color: #b9101f;
}

.nav-inner {
  height: 35vh;
  width: 100%;
  display: flex;
}

.nav-inner-1 {
  flex: 2;
}
.nav-img {
  height: 65%;
  opacity: none;
}

.nav-inner-4,
.nav-inner-3 {
  flex: 3;
}
.nav-inner-2 {
  flex: 4;
}

.head_title {
  padding: 30px;
  color: white;
  font-weight: 600;
  font-size: 25px;
}
.head-text {
  padding: 20px;
  font-size: 16px;
  line-height: 25px;
  letter-spacing: 0.5px;
  font-family: "Roboto", sans-serif;
  font-weight: 600px;
}

.abt-inner-1,
.abt-inner-2 {
  flex: 3;
}

.abt-inner-3,
.abt-inner-4,
.abt-inner-5 {
  flex: 2;
}

.inv-box {
  height: 30vh;
  width: 80%;
  display: flex;
}

.inv-inner-1,
.inv-inner-3 {
  flex: 3;
}
.inv-inner-2 {
  flex: 5;
}
.inv-img {
  width: 100%;
  height: 70%;
}
.inv-head {
  padding: 40px;
  color: white;
  font-weight: 600;
  font-size: 25px;
}
.inv-text {
  padding: 40px;
  font-size: 16px;
  line-height: 25px;
  letter-spacing: 0.5px;
  font-family: "Roboto", sans-serif;
  font-weight: 600px;
}
/* Nav Bar */

/* bottom div */

.bottombox {
  width: 100%;
  height: 360px;
  background: #f7f7f7;
  padding: 50px 200px;
}

.bottombox > div > a {
  text-decoration: none;
  color: #333;
}
.innerEle {
  width: 100%;
  height: 250px;
  display: flex;
  line-height: 1.7;
}

.innerEle > div > a {
  text-decoration: none;
  color: #333;
}

.f-links1 {
  flex: 2;
  display: flex;
  flex-direction: column;
}
.f-links2 {
  flex: 5;
  display: flex;
  flex-direction: column;
}

.f-links3 {
  flex: 2;
  display: flex;
  flex-direction: column;
}
.f-links4 {
  flex: 3;
  display: flex;
  flex-direction: column;
}

.f-heading {
  width: 100%;
  height: 40px;
  color: #bd2925;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
}

.f-links-div {
  width: 100%;
  height: 310px;
  display: flex;
  font-size: 16px;
}
.f-links-div > div {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.f-links-div > div > a {
  text-decoration: none;
  color: #333;
}
.f-headin-invest {
  margin-top: 20px;
}
.visitweb_Btn {
  padding: 8px 15px;
  color: white;
  background-color: #bd2925;
  border: none;
  margin-left: 29.5%;
  font-size: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.visitweb_Btn:hover{
  background-color: #c23934;
  cursor: pointer;
}

/* bottom div */

footer {
  width: 100%;
  height: 50px;
  background-color: #ee1c2e;
  color: white;
  font-size: 16px;
  display: flex;
  padding: 0 13%;
  justify-content: space-between;
  align-items: center;
}
footer > a {
  color: white;
  text-decoration: none;
}
/* Scroll to top button */

.scrollToTop > button {
  position: fixed;
  top: 85vh;
  left: 97vw;
  width: 45px;
  height: 45px;
  font-size: 15px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #bc2824;
  border: none;
}
/* Scroll to top button */

/* slide bar */

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-thumb {
  background-color: rgb(66, 66, 66);
  border-radius: 25px;
}

/* slide bar */

#body {
  font-family: "Roboto", sans-serif;
}
#top_image {
  height: 280px;
}
#top_image > img {
  width: 100%;
  height: 280px;
}
#starting_menu {
  position: absolute;
  top: 35vh;
  left: 0vh;
  height: 80px;
  width: 600px;
  /* padding:20px 90px ; */
  border-bottom: 100px solid rgb(255, 255, 255);
  border-left: 0px solid transparent;
  border-right: 60px solid transparent;
}

#starting_menu > h2 {
  font-size: 25px;
  color: #004785;
  margin-bottom: 0;
  margin-top: 40px;
  margin-left: 110px;
}
#navigator {
  margin-top: 5px;
  margin-left: 110px;
}
#navigator > a {
  text-decoration: none;
  font-size: 15px;
  color: #004785;
}
#navigator > a:hover {
  text-decoration: none;
  font-size: 15px;
  color: black;
}
#navigator > span {
  text-decoration: none;
  font-size: 15px;
  color: #777777;
}
#middle_part {
  margin-top: 40px;
  margin-bottom: 50px;
}

.top_content > img {
  margin-left: 29%;
  margin-top: 3%;
  margin-bottom: 15px;
}
.content {
  /* border: 1px solid yellow; */
  height: auto;
  background-color: #f6f6f6;
  height: 600px;
}
.content p {
  margin-left: 29%;
  margin-right: 8%;
  margin-top: 10px;
  line-height: 1.5;
  padding: 10px;
}
.jio_head {
  color: #bd2925;
  font-size: 25px;
  font-weight: bold;
}
.visitweb_Btn {
  padding: 8px 15px;
  color: white;
  background-color: #bd2925;
  border: none;
  margin-left: 29.5%;
  font-size: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
}
#overlap_div {
  width: 250px;
  height: 700px;
  background-color: red;
  position: absolute;
  left: 28vh;
  top: 51vh;
}
.overlap_img {
  width: 250px;
  height: 130px;
  /* border: 1px solid green; */
}
.overlap_img > img {
  width: 100%;
  height: 150px;
}
.overlap_list {
  width: 250px;
  height: 550px;
  /* border: 1px solid yellow; */
  background-image: url("https://relianceretail.com/img/red-patterns.jpg");
  background-repeat: repeat-x repeat-y;
}

.list {
  list-style-type: none;
  padding: 5%;
  margin: 20px 10px;
}
.list li {
  margin-bottom: 15px;
}
.list > li:hover {
  font-weight: bold;
}
.list a {
  text-decoration: none;
  color: white;
}
