* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
  }
  #top_header {
    height: 65px;
    background: #f1f1f1;
    box-shadow: 0 1px 0 rgb(0 0 0 / 15%);
  }
  #home_button {
    float: right;
    height: 100%;
    margin: 1% 13%;
  }
  .home {
    float: right;
    background-color: #003380;
    color: #fff;
    padding: 7px 15px;
    font-size: 20px;
    text-decoration: none;
  }
  #logo {
    float: left;
    height: 60px;
    margin-left: 13%;
  }
  #logo > img {
    width: 70%;
    float: left;
    padding: 10px;
  }
  #container {
    text-align: center;
    margin: 5% auto;
    width: 27%;
    height: auto;
    border-radius: 8px;
    background-color: #f5f5f5;
    font-family: "Roboto", sans-serif;
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  input {
    width: 95%;
    margin: 10px;
    padding: 12px;
    outline: none;
    border: 1px solid #bdbdbd;
    border-radius: 5px;
  }

  input:focus {
    border-color: #719ece;
    box-shadow: 0 0 10px #719ece;
  }

  #submit {
    width: 95%;
    height: 40px;
    background-color: #003380;
    color: #efffff;
    font-size: 20px;
    padding: 3px;
    border-radius: 5px;
  }
  #displayError {
    text-align: center;
    color: #a94442;
  }

  footer {
    width: 100%;
    height: 50px;
    background-color: #ee1c2e;
    color: white;
    font-size: 16px;
    display: flex;
    margin: 0;
    padding: 0 13%;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    bottom: 0;
    right: 0;
  }
  footer > a {
    color: white;
    text-decoration: none;
  }